<!DOCTYPE html>
<html lang="en">
  <body onload="cookieTimer()">
    <head>
      <meta charset="UTF-8" />
      <title>Fortune teller</title>
    </head>
    <script>
      function cookieTimer(){
          setTimeout(() => alert("Your credentials have expired, please login again for more fortune"), <%=expires%>)
      }
    </script>

    <p style="color: green">Logged in as <b><%=username%></b></p>
    <b><p>THE FORTUNE TELLER</p></b>
    <br />
    <p><%=fortune%></p>
    <form action="http://localhost:3000/">
      <input type="submit" value="MORE FORTUNE!" />
    </form>
    <br />
    <form action="http://localhost:3000/logout">
      <input type="submit" value="Logout" />
    </form>
  </body>
</html>
